body {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #343434;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    background-color: #151515;
    position: fixed;
    top: 0;
    width: 100%;
}

li {
    margin-left: 85px;
    float: left;
    
}

li a {
    display: block;
    color: white;
    text-align: center;
    text-decoration: none;
    padding: 14px 16px;
    background-color: #080808
}

li a:hover {
    background-color: #b1d5f9;
}



.active {
    background-color: #1e90ff;
}

h1 {
    color: white;
}

.header {
    margin-top: 35px;
    margin-left: 85px;
    
    
    color: white;
}

.intro, .quote, .author {
    color: white;
    max-width: 600px;
    margin: 0 auto;
    word-wrap: break-word;
}

.content {
    width: auto;
}

.container {
display: flex;
justify-content: center;
align-items: center;


   
}

.content {
    margin-top: 85px;
    margin-right: 20px;
    margin-left: 85px;
    margin-bottom: 85px;
    align-items: center;
    
}

.image-box {
    margin-top: 85px;
    margin-left: 20px;
    margin-bottom: 85px;
}

/* i did not know you can combine multiple class id's?*/

.content, .image-box {
    width: auto;
    flex-grow: 0;
    flex-shrink: 0;
}

.photography, .camping, .rock-climbing {
    color: white;
}

.project-one, .project-two, .project-three {
    color: white;
    word-wrap: break-word;
    margin-left: 85px;

}